<style>
    div.gallery {
        margin: 5px;
        border: 2px solid #ccc;
        float: left;
        width: 256px;
    }

    div.gallery:hover {
        border: 2px solid #777;
        text-underline-mode: false;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    a:hover {
        text-decoration: none;
        font-weight: bold;
        background-color: blue;
        color: #fff;
    }

    div.name {
        padding: 2px;
        text-align: center;
        color: #111111;
        font-size: x-large;
    }

    div.created {
        padding: 2px;
        text-align: center;
        font-size: small;
        color: #555555;

    }

    div.desc {
        padding: 8px;
        text-align: center;
        font-size: medium;
        color: #333333;
    }

    div.likes {
        padding: 4px;
        text-align: center;
        font-size: small;
        color: #CC0000;
    }

    div.like {
        padding: 4px;
        text-align: center;
        font-size: medium;
        color: #FF0000;
        border: 1px solid #ccc;
    }

    div.unlike {
        padding: 4px;
        text-align: center;
        font-size: medium;
        color: #AA0000;
        border: 1px solid #ccc;
    }

    div.delete {
        padding: 4px;
        text-align: center;
        font-size: Large;
        color: #550000;
        border: 2px solid #ccc;
    }

    div.add {
        padding: 4px;
        text-align: center;
        font-size: large;
        color: #AA0000;
        border: 1px solid #ccc;
    }
</style>

<h1>Hi {{currentUser.firstName}}!</h1>
<h3>Here is your picture:</h3>
<br>


<div class="gallery">

    <a target="_blank" (click)="openPicture(picture.id)">
        <div *ngIf="picture.picture" class="like">
            <img src={{picture.picture}} width="600" height="400">
        </div>
        <div class="created">{{picture.createdAt}}</div>
        <div class="desc">{{picture.description}}</div>
        <div class="likes">{{picture.likes}} likes</div>
    </a>
    <a target="_blank" (click)="like_vaala">
        <div *ngIf="picture.liked" class="like">Unlike!</div>
        <div *ngIf="!picture.liked" class="unlike">Like!</div>
    </a>

    <a (click)="editPicture(picture.id)">
        <div *ngIf="picture.mine" class="delete">Edit Picture</div>
    </a>

    <a *ngIf="!picture.shared" (click)="sharePicture(picture)">
        <div class="delete">Share Picture</div>
    </a>
    <div *ngIf="picture.shared" class="delete">localhost:4200/pic/{{picture.id}}</div>

    <a (click)="deletePicture(picture.id)">
        <div *ngIf="picture.mine" class="delete">Delete</div>
    </a>



</div>
